/*********Estilo de la web de Realidad aumentada*********/
/*Asignatura: Aplicaciones web - 2º SMR */
/* Autor: Rosana de Molina Ruiz */

/*********Estilo general*********/

body {font-family: Verdana, Geneva, Tahoma, sans-serif;
     background-color: rgb(255, 217, 255);}

#wrapper {width: 80%;
        margin: auto;
        background-color: lightgrey;} 

/********* estilo de header *********/

header {background-image: url(imagenes/header.jpg);
      background-size: cover;
      background-position: right;
      height: 250px;
      position: relative;}

header #titulo {position: absolute;
              top: 93px;
              left: 100px;
              color: white;
              font-size: 2em;
              font-weight: bold;}
/*********** estilo de nav ***********/
img {border-radius: 10%;}

nav {background-color: rgb(49, 120, 179)}

nav ul {margin: 0;
      list-style-type: none;}
nav ul li {display: inline-block;
         padding: 10px;}
nav ul li a {text-decoration: none;
           font-weight: bold;
           color: white;}
nav ul li a:hover {color: palevioletred;}
/************ estilo del main *************/
main {background-image: url("imagenes/tile.jpg");
    padding: 2%;}
main h1 {margin: 0;
       color: palevioletred;
       text-align: center;}
main p {text-align: justify;
      text-indent: 3em;}
main img {width: 20%;
        margin: 2.2%;}

@media only screen and (max-width: 900px){
      main img {width: 40%;
      margin: 4.2%;}
}

@media only screen and (max-width: 600px){
      main img {width: 80%;
      margin: 8.2%;}
}

footer {background-color: rgb(49, 120, 179);
      padding: 10px;}
footer p {text-align: center;
        margin: 0;
        font-size: 0.8em;
        font-weight: bold;
        color: white}
